{% extends '::base.html.twig' %}

{% block title %}News - Page {{ pagination.currentPageNumber }}{% endblock title %}

{% block body %}
    <section>
        <header>
            <div class="page-header">
                <h1>News - Page {{ pagination.currentPageNumber }}</h1>
            </div>
        </header>
        <ul class="list-group">
        {% for newsItem in pagination %}
            <li class="list-group-item">
                <span class="badge">{{ newsItem.date|date('F j, Y') }}</span>
                <a href="{{ path('acmenews_default_show', {'id': newsItem.id}) }}">{{ newsItem.shortText }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>

    <nav>
        {{ knp_pagination_render(pagination) }}
    </nav>
{% endblock %}
