{% extends '::base.html.twig' %}

{% block title %}{{ news.shortText }}{% endblock title %}

{% block body %}
    <article>
        <header>
            <div class="page-header">
                <h1>{{ news.shortText }}</h1>
            </div>
        </header>

        <div class="panel panel-default">
            <div class="panel-body">{{ news.text }}</div>
            <div class="panel-footer">{{ news.date|date('F j, Y') }}</div>
        </div>
    </article>

    <nav>
        {{ render(controller('AcmeNewsBundle:Default:block', { 'id': news.id } )) }}
    </nav>
{% endblock %}
